body {
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

/* 버튼 클릭 active를 위한 애니메이션 */
@keyframes slowmotion {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
  
.mainbox {
    position: absolute;
    width: 800px;
    height: 400px;
    margin: -200px 0px 0px -400px;
    top: 50%;
    left: 50%;
    border: solid;
    border-color: rgb(107, 107, 107);
    border-width: 2px;
    padding: 20px;
}

.topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.topline .top_column_text {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.top_result_text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-right: 12px;
}

.top_column_clear {
    display: flex;
    position: relative;
    
}

.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column .column_number {
    width: 26%;
}

.column_number_text {
    border: 0;
    outline: 0;
    width: 210px;
    height: 60px;
    font-size: 25px;
    font-weight: 300;
    color: white;
    border-radius: 18px;
    background-color: rgb(90, 90, 90);
}
.column_number_text:active {
    animation: slowmotion 0.2s ease-in-out;
}

.zero {
    width: 427px;
}

.column_operation {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 150px;
    height: 60px;
    font-size: 25px;
    color: white;
    border-radius: 18px;
    background-color: rgb(255, 135, 56);
}
.column_operation:active {
    animation: slowmotion 0.2s ease-in-out;
}


.clear_icon {
    border: 0;
    outline: 0;
    text-align: center;
    color: white;
    width: 150px;
    height: 60px;
    font-size: 25px;
    border-radius: 18px;
    background-color: rgb(170, 164, 164);
}
.clear_icon:active {
    animation: slowmotion 0.2s ease-in-out;
}

.operation_icon_equal {
    border: 0;
    outline: 0;
    text-align: center;
    color: white;
    width: 210px;
    height: 60px;
    font-size: 25px;
    border-radius: 18px;
    background-color: rgb(150, 144, 144);
}
.operation_icon_equal:active {
    animation: slowmotion 0.2s ease-in-out;
}

.operation_icon {
    border: 0;
    outline: 0;
    text-align: center;
    color: white;
    width: 150px;
    height: 60px;
    font-size: 25px;
    border-radius: 18px;
    background-color: rgb(255, 135, 56);
}

.column .last:first-child {
    width: 53%;
}
