.form {
    display: flex;
    justify-content: center;
}

.js-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.js-form input {
    background: none;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    border: 0;
    margin-bottom: 35px;
}

.js-form input::placeholder {
    color: white;
    border:solid;
    padding: 12px 0px;
}

.js-greetings {
    font-size: 100px;
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-weight: 800;
    background: repeating-linear-gradient(to right,  rgb(255, 255, 255), rgb(230, 224, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
