body {
    background-color: white;
}

h1 {
    font-size : 50px;
    color: black;

}

.bass__screen {
    background-color: rgb(0, 128, 128);
}

.med__screen {
    background-color: rgb(216, 191, 216);
}

.max__screen {
    background-color: rgb(154, 205, 50);
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}